extends layout

block content
	style.
		body {
			background: rgb(226, 226, 226);
		}
		header {
			padding-top: 100px;
			font-size: 600%;
			line-height: 0px;
			color: rgb(92, 93, 93);
			font-family: monospace;
			text-align: center;
		}
		
	header
		h1= "404"
		h6= "Page Not Found"