extends layout

block content
	style.
		label input {display:block; width:230px;}
		
	form.content(method="POST")
		h6= "Authorized, redirecting..."
		script.
			setTimeout(function() {location.href = redirectUrl;}, 5000);
				